img {
    width: 400px;
    opacity: 0;
}
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}
   /* @keyframes mover2 {
        0%{
            transform: translate(100%);
        }
        
    }
*/